@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
}

.course-area, .register-area, .student-area, .faq-area {
    margin-top: 130px;
}

/* Navbar */
.navbar-light .navbar-nav .nav-link{
    color: #1a1a1a;
    text-underline-offset: 7px;
}
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}
.navbar-light .navbar-nav .nav-link.active{
    text-decoration: underline;
}

/* Hero Slider */
.carousel-caption {
    top: 35%;
}
.carousel-caption h1{
    font-weight: 900;
}

.carousel-inner img{
    min-height: 80vh;
}

/* course-area */
.courses p{
    font-size: 13px;
}
.courses span{
    font-size: 16px;
    color: #289BDE;
}

/* Student Area */
.student-area p{
    color: grey;
}


/* Media query */
@media (max-width: 575.98px) { 
    .section-heading h1, .section-heading p{
        padding-left: 0;
        padding-right: 0;
    }

    .courses img{
        width: 100%;
    }
     
}

@media (min-width: 767.98px) { 
    .section-heading h1, .section-heading p{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) { 
    .section-heading h1, .section-heading p{
    padding-left: 300px;
    padding-right: 300px;
} 
    .register-area p{
        width: 50%;
    }
}